<div class="body">
  <div class="container -super-wide">
    <div class="container">
      <div class="hero -become-mentor">
        <div class="hero__left">
          <h1 class="page-title hero__title">Стать наставником Solvery</h1>
          <p class="hero__text">Наставничество — один из самых удобных и эффективных способов
            делиться знаниями, классный способ помочь другим, заинтересованным в развитии людям,
            а также способ самому вырасти, так как процесс передачи зананий, ничто иное, как рост!</p>
          <a href="https://forms.gle/UFDgyMioBc5W8fCD9"
             target="_blank"
             class="button -system">
            Заполнить анкету
          </a>
        </div>
        <div class="hero__right">
          <div class="hero__image">
            <img src="../../assets/img/become_mentor.png"
                 srcset="../../assets/img/become_mentor@2x.png" alt="">
          </div>
        </div>
      </div>

      <div class="block-list">
        <h2 class="page-title block-list__title">Как устроено менторство?</h2>
        <div class="block-list__container">
          <div class="block-list__item">
            <div class="block-list__image">
              <img src="../../assets/img/schedule.png"
                   srcset="../../assets/img/schedule@2x.png" alt="">
            </div>
            <h3 class="block-list__item-title">Свободный график</h3>
            <p class="block-list__item-text">Вы сами выбираете в какое время вам удобнее проводить созвоны</p>
          </div>
          <div class="block-list__item">
            <div class="block-list__image">
              <img src="../../assets/img/students.png"
                   srcset="../../assets/img/students@2x.png" alt="">
            </div>
            <h3 class="block-list__item-title">Мотивированные ученики</h3>
            <p class="block-list__item-text">Вы сами выбираете в какое время вам удобнее проводить созвоны</p>
          </div>
          <div class="block-list__item">
            <div class="block-list__image">
              <img src="../../assets/img/cash.png"
                   srcset="../../assets/img/cash@2x.png" alt="">
            </div>
            <h3 class="block-list__item-title">Дополнительный доход</h3>
            <p class="block-list__item-text">Вы сами выбираете в какое время вам удобнее проводить созвоны</p>
          </div>
          <div class="block-list__item">
            <div class="block-list__image">
              <img src="../../assets/img/growth.png"
                   srcset="../../assets/img/growth@2x.png" alt="">
            </div>
            <h3 class="block-list__item-title">Собственный рост</h3>
            <p class="block-list__item-text">Вы сами выбираете в какое время вам удобнее проводить созвоны</p>
          </div>
          <div class="block-list__item">
            <div class="block-list__image">
              <img src="../../assets/img/help.png"
                   srcset="../../assets/img/help@2x.png" alt="">
            </div>
            <h3 class="block-list__item-title">Поддержка сервиса</h3>
            <p class="block-list__item-text">Вы сами выбираете в какое время вам удобнее проводить созвоны</p>
          </div>
          <div class="block-list__item">
            <div class="block-list__image">
              <img src="../../assets/img/group.png"
                   srcset="../../assets/img/group@2x.png" alt="">
            </div>
            <h3 class="block-list__item-title">Количество студентов</h3>
            <p class="block-list__item-text">Вы сами выбираете в какое время вам удобнее проводить созвоны</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container -super-wide -blue-bg">
    <div class="container">
      <h2 class="page-title">Частые вопросы</h2>

      <mat-accordion class="accordion -become-mentor">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Что значит быть наставником?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="accordion__body">
            <p class="accordion__text">Наставничество — один из самых удобных и эффективных способов делиться знаниями.  Наставничество — один из самых удобных и эффективных  способов делиться знаниями. Наставничество — один из самых удобных и эффективных  способов делиться знаниями. Наставничество — один из самых удобных и эффективных способов  делиться знаниями.  Наставничество — один из самых удобных и эффективных  способов делиться знаниями. Наставничество — один из самых удобных и эффективных  способов делиться знаниями. </p>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              С чего начинается работа с учеником?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="accordion__body">
            <p class="accordion__text">Наставничество — один из самых удобных и эффективных способов делиться знаниями.  Наставничество — один из самых удобных и эффективных  способов делиться знаниями. Наставничество — один из самых удобных и эффективных  способов делиться знаниями. Наставничество — один из самых удобных и эффективных способов  делиться знаниями.  Наставничество — один из самых удобных и эффективных  способов делиться знаниями. Наставничество — один из самых удобных и эффективных  способов делиться знаниями. </p>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              С чем помогает мне Solvery?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="accordion__body">
            <p class="accordion__text">Наставничество — один из самых удобных и эффективных способов делиться знаниями.  Наставничество — один из самых удобных и эффективных  способов делиться знаниями. Наставничество — один из самых удобных и эффективных  способов делиться знаниями. Наставничество — один из самых удобных и эффективных способов  делиться знаниями.  Наставничество — один из самых удобных и эффективных  способов делиться знаниями. Наставничество — один из самых удобных и эффективных  способов делиться знаниями. </p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <a href="https://forms.gle/UFDgyMioBc5W8fCD9"
         target="_blank"
         class="button -to-right">Оставить заявку</a>
    </div>
  </div>
</div>
