.user-image {
  //width: calc(100% + 30px);
  //margin-left: -15px;
  //min-height: 200px;
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-position: center;
  //height: 100%;
  //border-radius: 50%;
  overflow: hidden;
  max-width: 215px;
  margin: 0 auto;
}
