@import "../../../assets/scss/variables";

.skills-tag-list {
  &__container {
    max-width: 80%;
    word-break: break-word;
  }

  &__item {
    font-size: 11px;
    line-height: 28px;
    padding: 2px 5px;
    border: 1px solid $text-primary;
    border-radius: $border-radius;
    white-space: nowrap;
  }

  @media screen and (max-width: $screen-sm - 1px) {
    &__container {
      max-width: 100%;
    }
  }
}
