<div class="skills-tag-list" *ngIf="skillTags.length">
<!--  <h4 class="skills-tag-list__title">Ключевые навыки:</h4>-->
  <div class="skills-tag-list__container">
    <span *ngFor="let tag of skillTags"
          class="skills-tag-list__item -g-mr10">{{tag}}</span></div>
</div>
