.-g-no-padding {
  padding: 0 !important;
}

.-g-no-margin {
  margin: 0 !important;
}

.-g-fw300 {
  font-weight: 300 !important;
}

.-g-fw400 {
  font-weight: 400 !important;
}

.-g-fw700 {
  font-weight: 700 !important;
}

.-g-fw500 {
  font-weight: 500 !important;
}

.-g-fw900 {
  font-weight: 900 !important;
}

@for $i from 0 through 20 {
  .-g-mb#{$i*5} {
    margin-bottom: $i*5px;
  }
  .-g-mt#{$i*5} {
    margin-top: $i*5px;
  }
  .-g-mr#{$i*5} {
    margin-right: $i*5px;
  }
  .-g-ml#{$i*5} {
    margin-left: $i*5px;
  }
  .-g-p#{$i*5} {
    padding: $i*5px;
  }
  .-g-pb#{$i*5} {
    padding-bottom: $i*5px;
  }
  .-g-pt#{$i*5} {
    padding-top: $i*5px;
  }
  .-g-pr#{$i*5} {
    padding-right: $i*5px;
  }
  .-g-pl#{$i*5} {
    padding-left: $i*5px;
  }
  .-g-minh#{$i*10} {
    min-height: $i*10px;
  }
}

.-g-w100 {
  width: 100%;
}

.-g-display-block {
  display: block;
}

.-g-align-center {
  text-align: center;
}

.-g-stlozl-font {
  font-family: 'Stolzl', sans-serif;
}

.-g-display-mobile {
  @media screen and (max-width: $screen-sm - 1px) {
    display: block;
  }

  @media screen and (min-width: $screen-sm) {
    display: none;
  }
}

.-g-display-desktop {
  @media screen and (max-width: $screen-sm - 1px) {
    display: none;
  }

  @media screen and (min-width: $screen-sm) {
    display: block;
  }
}

.-g-z-index-0 {
  z-index: 0;
}

.-g-z-index-1 {
  z-index: 1;
}

.-g-z-index-2 {
  z-index: 2;
}
