$green: #6ABF28;
$blue: #00C2FF;
$lightblue: #F6FDFF;
$red: #d32f2f;

$white: #fff;
$black: #171a1f;
$gray: #AAAAAA;
$lightgray: #BDBDBD;
$lightestgray: #f4f4f4;

$success: $green;
$primary: $black;
$system: $blue;
$danger: $red;

$main-bg: $lightblue;

$text-primary: $black;
$text-secondary: $gray;
$text-tertiary: $lightgray;

$link-color: $blue;
$link-color-hover: #6493E8;

$panel-border: rgba($black, .1);
$border-radius: 5px;

$screen-xxl: 1680px;
$screen-lg: 1440px;
$screen-md-l: 1366px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 450px;
$screen-xxs: 375px;

$transition-default: all .2s ease-out;
$transition-default-long: all .4s ease-out;

$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
