<section class="section -main">
  <div class="section-transparent-white -g-z-index-0"></div>
  <div class="container -g-z-index-1">
    <div class="hero -main">
      <h1 class="hero__title -g-stlozl-font -g-fw900">Solvery — получай знания эффективно</h1>
      <h3 class="hero__text">Занятия <span class="-g-fw700">1</span> на <span class="-g-fw700">1</span> с наставниками. Найдите своего
        наставника среди действующийх специалистов
        в области  IT, Маркетинга и Дизайна.
        <br>
        <br>
        Построй свой график занятий и занимайся в удобном темпе
      </h3>
      <div class="hero__actions">
        <a routerLink="/search" class="button -l -success -g-mb10 -mobile-width-100 -mobile-small">Найти наставника</a>
        <a routerLink="/becomeMentor" class="button -l -g-mb10 -white -mobile-width-100 -mobile-small">Стать наставником</a>
      </div>
    </div>
  </div>
</section>

<!--  <div class="container -super-wide -image-blue-bg">-->
<!--    <section class="section">-->
<!--      <div class="container">-->
<!--        <div class="hero -process_how">-->
<!--          <h2 class="page-title hero__title">Подберите подходящего наставника</h2>-->
<!--          <p class="hero__text">Подберите подходящего наставника:  найдите его-->
<!--            через систему тегов. Изучите резюме и опыт работы. Оцените, подходит ли вам время-->
<!--            и стоимость услуги.</p>-->
<!--          <ol class="steps-list">-->
<!--            <li class="steps-list__item">-->
<!--              <h5 class="steps-list__title">Выберите того самого</h5>-->
<!--              <p class="steps-list__text">Среди наставников найдите специалиста, который подходит для-->
<!--                достижения вашей цели. Вы можете смотреть по резюме, проектам и другим параметрам</p>-->
<!--            </li>-->
<!--            <li class="steps-list__item">-->
<!--              <h5 class="steps-list__title">Заполните анкету</h5>-->
<!--              <p class="steps-list__text">Подробно сформируйте свою цель от наставничества. Чем более детально вы-->
<!--                опишите ваш текущий опыт, и, что хотите прокачать, тем лучше наставник-->
<!--                сможет понять ближайший набор действий</p>-->
<!--            </li>-->
<!--            <li class="steps-list__item">-->
<!--              <h5 class="steps-list__title">Знакомство</h5>-->
<!--              <p class="steps-list__text">Мы проводим совместную сессию для знакомства с наставником,-->
<!--                где планируем дни и время занятий, а так же уточняем детали предстоящего процесса</p>-->
<!--            </li>-->
<!--          </ol>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--  </div>-->
