@import "../../../assets/scss/variables";

.footer {
  position: relative;
  background-color: $black;
  //margin-top: 50px;
  padding: 0 64px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
  }

  &__logo {
    color: $white;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
  }

  &__link {
    color: $text-tertiary;
    font-size: 14px;
  }

  &__phone {
    color: $text-tertiary;
    font-size: 14px;
  }

  @media screen and (max-width: $screen-md-l - 1px) {
    margin-top: 0;
    padding: 0 30px;
  }

  @media screen and (max-width: $screen-sm - 1px) {
    padding: 0;
  }
}
