<footer class="footer">
  <div class="container -super-wide">
    <div class="footer__container">
      <a href="/" class="footer__logo -g-stlozl-font">Solvery</a>
      <div class="footer__right">
        <a class="footer__phone" href="tel:89675984989">+ 7 967 598-49-89</a>
      </div>
    </div>
  </div>
</footer>
