<header class="header">
  <div class="container -super-wide">
    <div class="header__container">
      <a href="/" class="header__logo -g-stlozl-font">Solvery</a>
      <div class="header__right -g-display-desktop">
        <a routerLink="/search" class="header__link">Подобрать наставника</a>
        <a routerLink="/becomeMentor" class="header__link">Станьте наставником</a>
        <a class="header__phone" href="tel:89675984989">+ 7 967 598-49-89</a>
      </div>
      <div class="header__right -g-display-mobile">

      </div>
    </div>
  </div>
</header>
