@import "../../../assets/scss/variables";

.header {
  position: relative;
  background-color: white;
  z-index: 2;
  padding: 0 64px;
  box-shadow: 0 0 5px $gray;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }

  &__logo {
    color: $link-color;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
  }

  &__link {
    color: $text-tertiary;
    font-size: 14px;
    transition: $transition-default;
    margin-right: 25px;

    &:hover {
      color: $link-color;
      text-decoration: none;
    }
  }

  &__phone {
    color: $text-primary;
    font-size: 14px;
  }

  @media screen and (max-width: $screen-md-l - 1px) {
    padding: 0 30px;
  }

  @media screen and (max-width: $screen-sm - 1px) {
    padding: 0;
  }
}
