@import "../../../assets/scss/variables";

.price-list {
  &__product {
    font-weight: 300;
  }

  &__price {
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
  }

  &__item {
    margin-bottom: 14px;
  }
}
