<ul class="price-list">
  <li class="price-list__item" *ngFor="let item of priceList">
    <div class="price-list__product">{{resources[item.lessonType]}}:</div>
    <div class="price-list__price" (click)="onPriceClick(item.lessonType)">
      <span>{{item.price}}₽</span>
      <span *ngIf="item.lessonType === 'WEEK'">&nbsp;в неделю</span>
      <span *ngIf="item.lessonType === 'MONTH'">&nbsp;в месяц</span>
    </div>
  </li>
  <li class="price-list__item" *ngIf="withTestCall">
    <div class="price-list__product">{{resources.TEST}}</div>
    <div class="price-list__price" (click)="onPriceClick('TEST')">Есть</div>
  </li>
</ul>
