<div class="social-preview">
  <div class="social-preview__container">
    <div class="social-preview__body">
      <div class="social-preview__info">
        <div class="social-preview__title"><span class="-g-stlozl-font">Solvery</span> Mentors</div>
        <div class="social-preview__name">{{mentor.baseInfo.name}} {{mentor.baseInfo.secondName}}</div>
        <div class="social-preview__position">{{mentor.baseInfo.currentJob.positionShort}} в&nbsp;
            <span class="social-preview__company">{{mentor.baseInfo.currentJob.companyName}}</span>
        </div>
        <div class="social-preview__website">solvery.io</div>
      </div>
      <div class="social-preview__photo">
        <div class="social-preview__photo-inner" [ngStyle]="{'background-image': 'url(' + mentorAvatar + ')'}"></div>
      </div>
    </div>
  </div>
</div>
