.social-preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1201px;
    height: 632px;
    border: 1px dashed #000;
  }

  &__body {
    width: 1200px;
    height: 630px;
    padding: 132px 100px 111px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-repeat: no-repeat;
    background-position: right -260px top;
    background-image: url("../../../../assets/img/social-preview-bg.jpg");
  }

  &__info {
    max-width: 540px;
  }

  &__title {
    font-size: 50px;
    color: #AAAAAA;
    margin-bottom: 60px;

    span {
      color: #00C2FF;
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  &__name {
    font-size: 50px;
    line-height: 54px;
    color: #171a1f;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__position {
    font-size: 32px;
    line-height: 37px;
    font-weight: 300;
    margin-bottom: 70px;
  }

  &__company {
    color: #00C2FF;
    font-weight: 500;
  }

  &__website {
    color: #AAAAAA;
    font-size: 25px;
  }

  &__photo {
    position: relative;
    width: 370px;
    height: 370px;
    z-index: 1;

    &:before {
      position: absolute;
      top: -10px;
      left: 20px;
      display: block;
      content: '';
      width: 370px;
      height: 370px;
      border-radius: 50%;
      background-color: #00C2FF;
      z-index: -1;
    }
  }

  &__photo-inner {
    width: 370px;
    height: 370px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: 1;
  }
}
