<div class="social-links-list">
  <a class="social-links-list__item"
     *ngFor="let link of socialLinks"
     target="_blank"
     href="{{link.url}}">
    <i class="fa " [ngClass]="'fa-' + link.name"></i>
  </a>
</div>
