<div class="panel mentor-hire-info">
  <div class="panel__title">Формат и стоимость</div>
  <app-price-list [priceList]="mentor.hireInfo.priceList"
                  (onClick)="openApplyModal($event)"
                  [withTestCall]="mentor.hireInfo.testCall"></app-price-list>
  <button class="button -g-mt20 -g-w100 -transparent">Календарь наставника</button>
</div>
