<div class="modal">
  <div class="modal__header">
    <h2>Заявка</h2>
    <div class="modal__close"
         (click)="closeModal()">
      <i class="fa fa-times"></i>
    </div>
  </div>
  <mat-dialog-content>
    <div class="modal__body">
      <h3 class="modal__title">Форма занятия:</h3>
      <mat-button-toggle-group class="form-button-toggle"
                               #lessonType="matButtonToggleGroup"
                               (change)="onLessonTypeChange(lessonType.value, applyForm)"
                               [value]="mentorApply.lessonType">
        <mat-button-toggle value="{{lessonTypes.TEST}}">Тестовый созвон</mat-button-toggle>
        <mat-button-toggle value="{{lessonTypes.HALF_HOUR}}">30 минут</mat-button-toggle>
        <mat-button-toggle value="{{lessonTypes.HOUR}}">1 час</mat-button-toggle>
        <mat-button-toggle value="{{lessonTypes.WEEK}}">1 неделя</mat-button-toggle>
      </mat-button-toggle-group>

      <h3 class="modal__title">Удобные дни недели и время:</h3>
      <h3 class="modal__title -sm">
        <span>Часовой пояс:</span>
        <mat-select class="-inline" [(value)]="mentorApply.timezone">
          <mat-option *ngFor="let timezone of timezoneList" [value]="timezone">
            {{timezone}}
          </mat-option>
        </mat-select>
      </h3>
      <mat-button-toggle-group class="form-button-toggle"
                               #dayList="matButtonToggleGroup"
                               (change)="onDaysChange(dayList.value, applyForm)"
                               [multiple]="true">
        <mat-button-toggle value="Mo" class="-sm">Пн</mat-button-toggle>
        <mat-button-toggle value="Tu" class="-sm">Вт</mat-button-toggle>
        <mat-button-toggle value="We" class="-sm">Ср</mat-button-toggle>
        <mat-button-toggle value="Th" class="-sm">Чт</mat-button-toggle>
        <mat-button-toggle value="Fr" class="-sm">Пт</mat-button-toggle>
        <mat-button-toggle value="Sa" class="-sm">Сб</mat-button-toggle>
        <mat-button-toggle value="Su" class="-sm">Вс</mat-button-toggle>
      </mat-button-toggle-group>

      <h3 class="modal__title -sm">Удобный временной период:</h3>
      <mat-button-toggle-group class="form-button-toggle"
                               #timePeriod="matButtonToggleGroup"
                               (change)="onTimePeriodChange(timePeriod.value, applyForm)"
                               [multiple]="true">
        <mat-button-toggle value="7to10" class="-sm">C 7 до 10 утра</mat-button-toggle>
        <mat-button-toggle value="10to14" class="-sm">С 10 до 14</mat-button-toggle>
        <mat-button-toggle value="14to18" class="-sm">С 14 до 18</mat-button-toggle>
        <mat-button-toggle value="18to23" class="-sm">С 18 до 23</mat-button-toggle>
      </mat-button-toggle-group>

      <form #applyForm="ngForm"
            (ngSubmit)="onSubmit()"
            class="form">

        <label for="name" class="label -modal">
          <span class="label__title">Имя</span>
          <input type="text"
                 id="name"
                 name="name"
                 placeholder="Марк"
                 class="input"
                 required
                 #name="ngModel"
                 (keyup)="checkIfFormReady(applyForm)"
                 [(ngModel)]="mentorApply.student.name">
        </label>
        <label for="secondName" class="label -modal">
          <span class="label__title">Фамилия</span>
          <input type="text"
                 id="secondName"
                 name="secondName"
                 placeholder="Цукерберг"
                 class="input"
                 required
                 #secondName="ngModel"
                 (keyup)="checkIfFormReady(applyForm)"
                 [(ngModel)]="mentorApply.student.secondName">
        </label>
        <label for="phone" class="label -modal">
          <span class="label__title">Телефон</span>
          <input type="text"
                 id="phone"
                 name="phone"
                 class="input"
                 prefix="+7 "
                 mask="(000) 000-00-00"
                 #phone="ngModel"
                 (keyup)="checkIfFormReady(applyForm)"
                 [(ngModel)]="mentorApply.student.phone">
        </label>
        <label for="mail" class="label -modal" [ngClass]="{'-error': !emailValid}">
          <span class="label__title">Почта</span>
          <input type="email"
                 id="mail"
                 name="mail"
                 placeholder="hi_mark@facebook.com"
                 class="input"
                 required
                 #mail="ngModel"
                 (change)="onEmailChange(mail, applyForm)"
                 [(ngModel)]="mentorApply.student.mail">
          <span class="input-error">Это не похоже на почту</span>
        </label>

        <label for="desc" class="label -modal">
          <span class="label__title">Опишите цели, которых хотите достичь</span>
          <textarea name="desc"
                    id="desc"
                    cols="30"
                    rows="10"
                    placeholder="Хочу в YC"
                    required
                    class="textarea"
                    #desc="ngModel"
                    (keyup)="checkIfFormReady(applyForm)"
                 [(ngModel)]="mentorApply.student.description"></textarea>
        </label>
        <button type="submit" [disabled]="!isEveryThingReady"
                class="button -success">Записаться к наставнику</button>
      </form>
    </div>
  </mat-dialog-content>
</div>
