.accordion {
  .mat-expansion-panel {
    position: relative;
    background-color: $white;
    border-radius: $border-radius !important;
    border: 1px solid $panel-border;
    box-shadow: none;

    .mat-expansion-panel-header-title {
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
    }

    .mat-expansion-indicator {
      &:after {
        transform: none;
        padding: 0;
        border-style: none;
        border-width: 0;
        color: $primary;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid;
        margin: 0 4px;
      }
    }

    + .mat-expansion-panel {
      margin-top: 3px;
    }
  }

  &.-become-mentor {
    display: block;
    margin: 60px 0;
  }

  &__body {
    padding: 10px 0;
  }

  &__text {
    font-size: 13px;
    line-height: 17px;
  }

  @media screen and (max-width: $screen-sm - 1px) {
    &.-become-mentor {
      margin: 30px 0;
    }
  }
}
