h1, h2, h3, h4, h5, h6, p, ul, ol, li, div {
  color: $text-primary;
  margin: 0;
}

p, div, li, a {
  font-size: 14px;
  line-height: 19px;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}
