.block-list {
  margin-bottom: 40px;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    margin-bottom: 80px;
  }

  &__item {
    width: 30%;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 70px;
  }

  &__image {
    width: 50px;
    margin-bottom: 16px;
  }

  &__item-text {
    max-width: 220px;
  }

  &__item-title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }

  @media screen and (max-width: $screen-sm - 1px) {
    &__item {
      width: 46%;
    }
  }

  @media screen and (max-width: $screen-xs - 1px) {
    &__title {
      margin-bottom: 30px;
    }

    &__item {
      width: 100%;
      margin-bottom: 30px;
    }

    &__item-text {
      max-width: 100%;
    }
  }
}
