.button {
  display: inline-block;
  padding: 0.625rem 1.125rem;
  border: 1px solid $primary;
  background-color: transparent;
  color: $text-primary;
  border-radius: $border-radius !important;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
  font-weight: 500;

  &.-l {
    padding: 16px 30px;
  }

  &.-primary {
    background-color: $primary ;
    border-color: $primary ;
    color: $white;
  }

  &.-white {
    background-color: $white ;
  }

  &.-system {
    background-color: $system;
    border-color: $system;
    color: $white;
  }

  &.-success {
    background-color: $success;
    border-color: $success;
    color: $white;
  }

  &[disabled] {
    background-color: $gray;
    border-color: $gray;
  }

  &.-to-right {
    margin-left: auto;
  }

  @media screen and (max-width: $screen-sm - 1px) {
    &.-mobile-small {
      padding: 0.625rem 1.125rem;
    }

    &.-mobile-width-100 {
      width: 100%;
    }
  }
}
