body {
  margin: 0;
}

.body {
  margin-bottom: 30px;
  min-height: calc(100vh - 200px);
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  padding: 0 !important;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  &.-super-wide {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    //max-width: calc(100% - 128px);
  }

  &.-blue-bg {
    padding: 36px 0 50px !important;
    background-color: $main-bg;
  }

  &.-image-blue-bg {
    background-image: url("./assets/img/blue-bg.png");
    background-size: cover;
  }

  @media screen and (max-width: $screen-md-l - 1px) {
    &.-super-wide {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 1149px) {
    max-width: 900px;
  }

  @media screen and (max-width: 949px) {
    max-width: 750px;
  }

  @media screen and (max-width: $screen-sm - 1px) {
    max-width: 100%;
    padding: 0 10px !important;
  }
}

.section {
  position: relative;

  &.-main {
    min-height: calc(100vh - 160px);
    background-image: url("./assets/img/main-bg.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    margin-bottom: 0;

    @media screen and (max-width: 1149px) {
      &.-main {
        background-size: 90%;
      }
    }

    @media screen and (max-width: 949px) {
      &.-main {
        background-size: 90%;
      }
    }

    @media screen and (max-width: $screen-sm - 1px) {
      &.-main {
        background-size: 150%;
      }
    }
  }
}

.section-transparent-white {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($white, .8);

  @media screen and (max-width: $screen-sm - 1px) {
    display: block;
  }
}
