.dropdown {

}

.mat-select {
  &.-inline {
    display: inline-block;
    width: auto;
    margin-left: 4px;

    .mat-select-value {
      font-size: 13px;
      max-width: initial;
      width: auto;
    }
  }

  .mat-select-arrow {
    color: $primary;
    border-left-width: 4px;
    border-right-width: 4px;
  }
}
