.fieldset {
  $this: &;

  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: $border-radius;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;

  &.-search {
    height: 54px;

    &.-with-icon {
      padding-left: 54px;
    }

    #{$this} {
      &__input {
        height: 52px;
        line-height: 52px;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 15px;
    left: 25px;

    i {
      font-size: 20px;
      color: $text-secondary;
    }
  }

  &__input {
    border: none;
    width: 100%;
    font-size: 14px;
    color: $text-secondary;
    border-radius: $border-radius;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $text-secondary;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
