.form-button-toggle {
  $this: &;

  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  overflow: visible !important;

  flex-wrap: wrap;

  .mat-button-toggle {
    margin-right: 15px;
    margin-bottom: 8px;
    border: 1px solid $primary !important;
    border-radius: $border-radius;

    &:last-child {
      margin-right: 0;
    }

    &.mat-button-toggle-checked {
      background-color: $primary;

      .mat-button-toggle-label-content {
        color: $white;
      }
    }

    &.-sm {
      margin-right: 8px;
      .mat-button-toggle-label-content {
        padding: 7px;
      }
    }

    .mat-button-toggle-label-content {
      padding: 11px 16px;
      font-size: 12px;
      line-height: 14px;
    }
  }

  + .modal__title {
    margin-top: 25px;

    &.-sm {
      margin-top: 10px;
    }
  }

  + #{$this} {
    margin-top: 30px;
  }

  @media screen and (max-width: $screen-xxs) {

  }
}
