.form {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}

.label {
  display: block;
  margin-bottom: 20px;

  &__title {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 5px;
    color: $text-secondary;
  }
}

.input,
.textarea {
  border-radius: $border-radius;
  border: 1px solid $text-secondary;
  color: $text-secondary;
  width: 100%;
  min-height: 39px;
  padding: 0 14px;
  transition: $transition-default;

  &:hover,
  &:focus {
    border-color: $text-primary;
    color: $text-primary;
    outline: none;
  }

  &.ng-invalid {
    &:not(.ng-pristine) {
      border-color: $danger;
    }
  }

  &.ng-valid {
    color: $primary;
  }
}

.input {
  line-height: 39px;

  &.-error {
    + .input-error {
      max-height: 50px;
    }
  }
}

.textarea {
  padding: 14px;
  margin-bottom: 15px;
}

.input-error {
  display: inline-block;
  color: $danger;
  font-size: 13px;
  padding: 8px 0 0 16px;
  overflow: hidden;
  max-height: 0;
  transition: $transition-default;
}
