.hero {
  $this: &;

  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 85px 0 0;

  &.-become-mentor {
    #{$this} {
      &__left {
        width: 70%;
        z-index: 2;
      }

      &__title {
        margin-top: 45px;
        margin-bottom: 20px;
        max-width: 400px;
      }

      &__text {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 45px;
        padding-right: 40px;
      }

      &__image {
        width: 395px;
      }
    }
  }

  &.-main {
    margin-bottom: 0;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 60px);

    #{$this} {
      &__title {
        font-size: 42px;
        line-height: 47px;
        color: $text-primary;
        text-align: left;
        max-width: 650px;
        margin-bottom: 27px;
        font-family: Stolzl;
      }

      &__text {
        font-weight: normal;
        max-width: 500px;
        text-align: left;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 57px;
      }

      &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 450px;
      }
    }
  }

  &.-process_how {
    flex-direction: column;
    padding-bottom: 50px;

    #{$this} {
      &__title {
        margin-bottom: 30px;
        max-width: 500px;
      }

      &__text {
        max-width: 500px;
      }
    }
  }

  @media screen and (max-width: 949px) {
    &.-become-mentor {
      #{$this} {
        &__image {
          width: 280px;
        }
      }
    }

    &.-main {
      padding: 0 30px;

      #{$this} {
        &__title {
          font-size: 32px;
          line-height: 37px;
          max-width: 450px;
        }

        &__text {
          max-width: 400px;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }

  @media screen and (max-width: $screen-sm - 1px) {
    width: 500px;
    max-width: 100%;

    &.-become-mentor {
      #{$this} {
        &__right {
          position: absolute;
          right: 0;
          top: 70px;
        }

        &__text {
          padding-right: 0;
        }
      }
    }

    &.-main {
      padding: 30px 0;

      #{$this} {
        &__actions {
          width: 100%;
          flex-direction: column;
        }

        &__text {
          margin-bottom: 30px;
        }
      }
    }

    &.-process_how {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: $screen-xs - 1px) {
    &.-become-mentor {
      #{$this} {
        &__left {
          width: 100%;
        }

        &__right {
          top: 10px;
        }

        &__image {
          width: 190px;
        }

        &__title {
          margin-top: 0;
        }

        &__text {
          margin-bottom: 20px;
        }
      }
    }

    &.-main {
      #{$this} {
        &__actions {
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }
}
