.modal {
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    transition: $transition-default;
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
      background-color: $lightestgray;
    }
  }

  &__title {
    margin-bottom: 18px;
    color: $text-secondary;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;

    &.-sm {
      font-size: 12px;
      margin-bottom: 7px;
      font-weight: 400;
    }
  }
}

.mat-dialog-actions {
  padding: 20px 0 !important;
}

@media screen and (max-width: 649px) {
  .cdk-overlay-pane {
    max-width: 98vw !important;
  }
}

@media screen and (max-width: $screen-xs) {
  .mat-dialog-container {
    padding: 14px!important;
  }
}
