.panel {
  position: relative;
  background-color: $white;
  padding: 24px;
  border-radius: $border-radius;
  border: 1px solid $panel-border;
  transition: $transition-default;

  &.-with-shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &.-hero {
    background-color: rgba($white, .4);
    padding: 50px 80px;
    margin-bottom: 44px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 949px) {
    padding: 15px;
  }

  @media screen and (max-width: $screen-sm - 1px) {
    &__title {
      margin-bottom: 18px;
    }
  }
}

.page-title {
  font-size: 36px;
  line-height: 44px;
  font-family: Stolzl;
  font-weight: 900;
}
