.steps-list {
  margin-top: 40px;
  position: relative;
  counter-reset: num;

  &__item {
    position: relative;
    width: 30%;
    z-index: 1;

    &::before {
      position: absolute;
      top: 0;
      left: -20px;
      content: counter(num) '';
      font-size: 100px;
      color: rgba($white, .8);
      font-weight: 900;
      z-index: -1;
    }

    &:first-child {
      margin-top: 120px;
      &:before {
        content: '1';
      }
    }

    &:nth-child(2) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 30px;
      &:before {
        content: '2';
      }
    }

    &:last-child {
      position: absolute;
      right: 0;
      top: -60px;
      &:before {
        content: '3';
      }
    }
  }

  &__title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
    font-weight: 700;
  }

  @media screen and (max-width: $screen-sm - 1px) {
    margin-top: 60px;

    &__item {
      margin-bottom: 40px;
      position: relative;
      width: 100%;

      &:before {
        left: 0;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child,
      &:nth-child(2) {
        position: relative;
        top: initial;
        left: initial;
        transform: none;
      }
    }

    &__title {
      margin-bottom: 10px;
    }
  }
}
