.user-hero {
  &__header {
    position: relative;
    margin-bottom: 15px;
  }

  &__name {
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
  }

  &__status {
    position: relative;
    font-size: 14px;
    color: $text-secondary;

    //&:after {
    //  position: absolute;
    //  display: block;
    //  content: '';
    //  top: 5px;
    //  right: -14px;
    //  width: 8px;
    //  height: 8px;
    //  border-radius: 50%;
    //  background-color: $success;
    //}
  }

  &__rating {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__job {
    margin-bottom: 15px;
  }

  &__story {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    max-width: 450px;
  }
}
