@import "../../../../assets/scss/variables";

.mentor-photo-block {
  text-align: center;

  &__image {
    margin-bottom: 20px;
  }

  &__sessions {
    //margin-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
    color: $text-secondary;
  }
}
