<div class="panel mentor-photo-block -g-mb5">
  <div class="mentor-photo-block__image" >
    <img src="{{mentor.avatar}}" alt="{{mentor.baseInfo.name}} {{mentor.baseInfo.secondName}}">
  </div>
  <button class="button -g-mb20 -g-w100 -success"
          (click)="applyMentor()">👋 Оставить заявку</button>
  <div class="mentor-photo-block__sessions -g-mb10" *ngIf="mentor.sessionsCount">
    Проведено сессий: <span class="-g-fw700">{{mentor.sessionsCount}}</span>
  </div>
  <app-social-links-list class="-g-display-block"
                         [socialLinks]="mentor.socialNetworkList"></app-social-links-list>
</div>
