<div class="modal">
  <div class="modal__header -g-mb30">
    <h2>🤩 Спасибо за заявку, {{data.studentName}}!</h2>
    <div class="modal__close"
         (click)="closeModal()">
      <i class="fa fa-times"></i>
    </div>
  </div>
  <mat-dialog-content>
    В ближайшее время мы свяжемся с вами, чтобы согласовать старт занятий с вашим наставником
  </mat-dialog-content>
</div>
