<div class="body">
  <div class="container -super-wide -blue-bg">
    <div class="container">
<!--      <div class="search">-->
<!--        <p class="search__title">Поиск по тегам</p>-->
<!--        <fieldset class="fieldset -with-icon -search">-->
<!--          <label for="search">-->
<!--            <div class="fieldset__icon">-->
<!--              <i class="fa fa-search"></i>-->
<!--            </div>-->
<!--            <input id="search"-->
<!--                   type="text"-->
<!--                   placeholder="Введите название языка или технологии"-->
<!--                   class="fieldset__input">-->
<!--          </label>-->
<!--        </fieldset>-->
<!--      </div>-->
      <div class="search-result">
<!--        <p class="search-result__count">Найдено 189</p>-->
        <div class="search-result__container">
          <div class="search-result__item" *ngFor="let mentor of mentorList">
            <app-mentor-preview [mentor]="mentor"></app-mentor-preview>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
