<div class="panel mentor-photo-block -g-mb5">
  <div class="mentor-photo-block__image  -g-mb15">
    <img src="{{mentor.avatar}}" alt="{{mentor.baseInfo.name}} {{mentor.baseInfo.secondName}}">
  </div>

  <div class="user-hero">
    <div class="user-hero__header">
      <h1 class="user-hero__name -g-stlozl-font">{{mentor.baseInfo.name}} {{mentor.baseInfo.secondName}}</h1>
      <span class="user-hero__status -active">
      {{mentor.baseInfo.city}}, {{mentor.baseInfo.city}} / {{mentor.baseInfo.timezone}}
    </span>
    </div>

    <div class="user-hero__body">
      <div class="user-hero__job">{{mentor.baseInfo.currentJob.positionShort}} в&nbsp;
        <a class="link -g-fw500"
           target="_blank"
           href="{{mentor.baseInfo.currentJob.companyLink}}">{{mentor.baseInfo.currentJob.companyName}}</a>
      </div>
      <button class="button -g-mb15 -g-w100 -success"
              (click)="applyMentor()">👋 Оставить заявку</button>
      <p class="user-hero__story -g-fw300">{{mentor.baseInfo.descriptionShort}}</p>
      <app-skills-tag-list [skillTags]="mentor.baseInfo.tagList"></app-skills-tag-list>
    </div>
  </div>

  <div class="mentor-photo-block__sessions -g-mt15" *ngIf="mentor.sessionsCount">
    Проведено сессий: <span class="-g-fw700">{{mentor.sessionsCount}}</span>
  </div>
</div>
