<div class="panel -hoverable">
  <div class="mentor-preview">
    <div class="mentor-preview__left">
      <div class="mentor-preview__photo" [ngStyle]="{'background-image': 'url(' + mentor.avatar + ')'}"></div>
      <div class="user-hire -under-photo">
        <p class="user-hire__min-price" *ngIf="minPrice > 0">Занятия от
          <span class="-g-fw700">{{minPrice}}₽</span>
        </p>
        <a routerLink="/mentor/{{mentor.id}}"
           class="button -transparent -g-mb10 -g-w100">Подробнее</a>
        <button (click)="openApplyModal()"
                class="button -system -g-w100 -g-mb10">Написать</button>
      </div>
    </div>

    <div class="mentor-preview__info">
      <app-user-hero [mentor]="mentor.baseInfo" [inPreview]="true"></app-user-hero>
    </div>

    <div class="mentor-preview__hire">
      <div class="user-hire -right-side">
        <p class="user-hire__reviews" *ngIf="mentor.reviews.length || mentor.studentsCount > 0">
          <span *ngIf="mentor.reviews.length">{{mentor.reviews.length}} отзывов</span>
          <span *ngIf="mentor.reviews.length && mentor.studentsCount > 0">&nbsp;/&nbsp;</span>
          <span *ngIf="mentor.studentsCount > 0">{{mentor.studentsCount}} студентов</span>
        </p>
        <p class="user-hire__min-price" *ngIf="minPrice > 0">Занятия от
          <span class="-g-fw700">{{minPrice}}₽</span>
        </p>
        <a routerLink="/mentor/{{mentor.id}}"
           class="button -transparent -g-mb10 -g-w100">Подробнее</a>
        <button (click)="openApplyModal()"
                class="button -system -g-w100">Написать</button>
      </div>
    </div>
  </div>
</div>
