@import "../../../../assets/scss/variables";

.mentor-preview {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  &__left {
    width: 200px;
    text-align: center;
    margin-right: 40px;
    min-width: 200px;
  }

  &__photo {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  &__hire {
    display: flex;
    align-items: center;
    margin-left: auto;
    min-width: 200px;
    flex-shrink: 0;
  }

  @media screen and (max-width: 949px) {
    &__left {
      margin-right: 20px;
    }

    &__hire {
      display: none;
    }
  }

  @media screen and (max-width: $screen-sm - 1px) {
    flex-direction: column;

    &__left {
      width: 100%;
      margin-right: 0;
      margin-bottom: 16px;
    }

    &__hire {
      display: block;
      margin: 16px 0 0;
      width: 100%;
    }


  }
}

.user-hire {
  width: 100%;
  position: relative;
  text-align: center;

  &__reviews {
    display: block;
    margin-bottom: 20px;
    font-size: 12px;
    color: $text-secondary;
  }

  &__min-price {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }

  &.-under-photo {
    display: none;
  }

  @media screen and (max-width: 949px) {
    &.-under-photo {
      display: block;
      margin-top: 10px;
    }

    &.-right-side {
      display: none;
    }
  }

  @media screen and (max-width: $screen-sm - 1px) {
    &.-under-photo {
      display: none;
    }

    &.-right-side {
      display: block;
    }

    &__min-price {
      text-align: left;
    }
  }
}
