@import "../../../../assets/scss/variables";

.mentor-bio {
  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__right {
    width: 78%;
    font-weight: 300;
  }

  &__left {
    display: block;
    padding-top: 2px;
    width: 20%;
    font-size: 14px;
    line-height: 17px;

    &.link {
      font-size: 14px;
      padding-top: 0;
      line-height: 19px;
      font-weight: 900 !important;
    }
  }

  &__list {

    > li {
      position: relative;
      padding-left: 15px;
      margin-bottom: 5px;
      font-weight: 300;
      font-size: 14px;
      line-height: 23px;

      &:before {
        position: absolute;
        left: 0;
        top: 10px;
        display: block;
        content: '';
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: $black;
      }
    }
  }

  @media screen and (max-width: 949px) {
    &__left {
      font-size: 13px;
      margin-right: 10px;
    }
  }

  @media screen and (max-width: $screen-sm - 1px) {
    &__left {
      font-size: 14px;
      margin-right: 0;
      margin-bottom: 10px;
      width: 100%;
    }

    &__right {
      width: 100%;
    }

    &__row {
      flex-direction: column;
    }
  }
}
