<div class="panel -g-mb5" *ngIf="mentor.canHelpList && mentor.canHelpList.length">
  <div class="panel__title">🤝 С чем могу помочь:</div>
  <ul class="mentor-bio__list">
    <li *ngFor="let item of mentor.canHelpList">{{item}}</li>
  </ul>
</div>

<div class="panel mentor-bio -g-mb5" *ngIf="mentor.resume && mentor.resume.length">
  <div class="panel__title">💻 Резюме</div>

  <div class="mentor-bio__row" *ngFor="let job of mentor.resume">
    <p class="mentor-bio__left -g-fw400">
      <span>{{job.started}} —&nbsp;</span>
      <span *ngIf="job.finished">{{job.finished}}</span>
      <span *ngIf="!job.finished">по настоящее время</span>
    </p>
    <p class="mentor-bio__right">
      <a *ngIf="job.companyLink"
         href="{{job.companyLink}}"
         class="link">{{job.companyName}}&nbsp;</a>
      <span *ngIf="!job.companyLink"
            class="-g-fw500">{{job.companyName}}</span>
      <span>— {{job.positionLong}}</span>
    </p>
  </div>
</div>

<div class="panel -g-mb5" *ngIf="mentor.projectList && mentor.projectList.length">
  <div class="panel__title">🤟 Проекты</div>

  <div class="mentor-bio__row" *ngFor="let project of mentor.projectList">
    <p class="mentor-bio__left">
      <span *ngIf="!project.link">{{project.name}}</span>
      <a *ngIf="project.link"
         href="{{project.link}}"
         class="link">{{project.name}}</a>
    </p>
    <p class="mentor-bio__right">{{project.description}}</p>
  </div>
</div>

<div class="panel -g-mb5" *ngIf="mentor.educationList && mentor.educationList.length">
  <div class="panel__title">🎓 Образование</div>

  <div class="mentor-bio__row" *ngFor="let school of mentor.educationList">
    <p class="mentor-bio__left">
      <span *ngIf="!school.link">{{school.name}}</span>
      <a *ngIf="school.link"
         href="{{school.link}}"
         class="link">{{school.name}}</a>
    </p>
    <p class="mentor-bio__right">{{school.description}}</p>
  </div>
</div>

<div class="panel -g-mb10" *ngIf="mentor.publicationList && mentor.publicationList.length">
  <div class="panel__title">📰 Публикации</div>
  <ul class="mentor-bio__list">
    <li *ngFor="let publication of mentor.publicationList">
      <a *ngIf="publication.link" href="{{publication.link}}" class="link">{{publication.name}}</a>
      <p *ngIf="!publication.link">{{publication.name}}</p>
    </li>
  </ul>
</div>
