@import "../../../assets/scss/variables";

.reviews {
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 900px;
    margin: 0 auto 15px;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  &__avatar {
    margin-right: 35px;
    border-radius: 50%;
    overflow: hidden;
    width: 69px;
    height: 69px;
    min-width: 69px;
    min-height: 69px;
  }

  &__content {
    position: relative;
    margin-top: 10px;
    background-color: $white;
    border: 1px solid $panel-border;
    padding: 11px 30px 11px;
    border-radius: 2px;

    &:before {
      position: absolute;
      display: block;
      content: '';
      transform: rotate(45deg);
      width: 16px;
      height: 16px;
      background-color: white;
      top: 3px;
      left: -9px;
      border-left: 1px solid $panel-border;
      border-bottom: 1px solid $panel-border;
    }
  }

  &__text {
    margin-bottom: 10px;
    font-weight: 300;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__name {
    font-weight: 500;
    margin-right: 25px;
  }

  &__date {
    font-weight: 300;
  }

  @media screen and (max-width: $screen-xs) {
    &__item {
      flex-direction: column;
    }

    &__content {
      margin-top: 18px;

      &:before {
        top: -9px;
        left: 25px;
        transform: rotate(135deg);
      }
    }
  }
}
