<div class="reviews -g-mt30">
<!--  <div class="reviews__title">Отзывы:</div>-->
  <div class="reviews__item" *ngFor="let review of reviews">
    <div class="reviews__avatar">
      <img src="{{review.author.avatar}}"
           alt="{{review.author.name}} {{review.author.secondName}}">
    </div>
    <div class="reviews__content">
      <p class="reviews__text">{{review.review}}</p>
      <div class="reviews__info">
        <div class="reviews__name">{{review.author.name}} {{review.author.secondName}}</div>
        <div class="reviews__date">{{review.date}}</div>
      </div>
    </div>
  </div>
</div>
