<div class="user-hero__header">
  <h1 class="user-hero__name -g-stlozl-font">{{mentor.name}} {{mentor.secondName}}</h1>
  <span class="user-hero__status -active">
      {{mentor.city}}, {{mentor.city}} / {{mentor.timezone}}
    </span>
</div>

<div class="user-hero__body">
  <div class="user-hero__job">{{mentor.currentJob.positionShort}} в&nbsp;
    <a class="link -g-fw500"
       target="_blank"
       href="{{mentor.currentJob.companyLink}}">{{mentor.currentJob.companyName}}</a>
  </div>
  <p class="user-hero__story -g-fw300" *ngIf="!inPreview">{{mentor.descriptionShort}}</p>
  <p class="user-hero__story -g-fw300" *ngIf="inPreview">{{mentor.descriptionShort | previewDescription}}</p>
  <app-skills-tag-list [skillTags]="mentor.tagList"></app-skills-tag-list>
</div>
