@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&display=swap');

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "assets/scss/variables";
@import "assets/scss/fonts";
@import "assets/scss/global-modifiers";
@import "assets/scss/components/accordion";
@import "assets/scss/components/base";
@import "assets/scss/components/block-list";
@import "assets/scss/components/button";
@import "assets/scss/components/dropdown";
@import "assets/scss/components/hero";
@import "assets/scss/components/fieldset";
@import "assets/scss/components/form";
@import "assets/scss/components/form-button-toggle";
@import "assets/scss/components/link";
@import "assets/scss/components/modal";
@import "assets/scss/components/panel";
@import "assets/scss/components/container";
@import "assets/scss/components/steps-list";
@import "assets/scss/components/user-hero";

body {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
