<div class="body">
  <div class="container -super-wide -blue-bg">
    <div class="container">
      <div class="mentor-page -g-mb50">
        <div class="mentor-page__mobile-hero -g-mb5" *ngIf="isMobileScreen">
          <app-mentor-mobile-hero [mentor]="mentor"></app-mentor-mobile-hero>
        </div>
        <div class="mentor-page__left" *ngIf="!isMobileScreen">
          <app-mentor-photo-block [mentor]="mentor"></app-mentor-photo-block>
          <app-mentor-hire-info [mentor]="mentor"></app-mentor-hire-info>
        </div>
        <div class="mentor-page__right">
          <div class="panel mentor-hero-block -g-mb5" *ngIf="!isMobileScreen">
            <app-user-hero [mentor]="mentor.baseInfo"></app-user-hero>
          </div>
          <app-mentor-bio [mentor]="mentor"></app-mentor-bio>
          <app-reviews *ngIf="mentor.reviews.length" [reviews]="mentor.reviews"></app-reviews>
        </div>
        <button class="button -g-mb15 -g-w100 -success"
                *ngIf="isMobileScreen"
                (click)="applyMentor()">👋 Оставить заявку</button>
      </div>
    </div>
  </div>
</div>
