@import "../../../assets/scss/variables";

.mentor-page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__left {
    position: relative;
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    margin-right: 5px;
  }

  @media screen and (max-width: 1149px) {
    &__left {
      width: 300px;
      min-width: 300px;
    }
  }

  @media screen and (max-width: 949px) {
    &__left {
      width: 250px;
      min-width: 250px;
    }
  }

  @media screen and (max-width: $screen-sm - 1px) {
    flex-direction: column;

    &__left {
      width: 100%;
      max-width: 100%;
    }
  }
}
