@import "../../../assets/scss/variables";

.rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__title {
    font-size: 14px;
    color: $text-primary;
    margin-right: 7px;
  }

  &__count {
    width: 70px;
    height: 40px;
    background-color: $black;
    border-radius: $border-radius;
    text-align: center;
    color: $white;
    font-size: 25px;
    line-height: 40px;
  }
}
